$color-primary: #100d00 !default;
$color-white: white !default;
$color-whitegray: #d2d0d0 !default;
$color-lightgray: #646464 !default;
$color-gray: #7c7979 !default;
$color-blackgray: #5b5858 !default;
$color-blue: #3f51b5;
