$text-base: 14px !default;
$text-lg: 16px !default;
$text-heading-sm: 18px !default;
$text-heading-md: 25px !default;
$text-heading-lg: 35px !default;
$line-height-heading: 1.5 !default;
$line-height-base: 1.5 !default;
$font-family-base: 'Roboto', sans-serif !default;
$icon-size-sm: 20px !default;
